a {
  text-decoration: none;
}

.btn {
  width: auto;
  height: auto;
  padding: 5px 10px;
  background-color: var(--bg-tertiary-color);
  border-radius: 100px;
  color: var(--text-primary-color);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover, .active{
  background-color: var(--bg-secondary-color);
  color: var(--text-secondary-color);
  box-shadow: 0 0 10px 2px var(--shadow-primary-color);
  font-weight: bold;
}