a {
  text-decoration: none;
}

.btn {
  width: auto;
  height: auto;
  padding: 0 10px 0 10px;
  background-color: #ffffff;
  border-radius: 100px;
  color: black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #171430;
  color: #ffffff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

.active {
  background-color: #171430;
  color: #ffffff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}