.container-menu {
  position: fixed;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: fit-content;
  height: auto;
  background-color: var(--bg-tertiary-color);
  border-radius: 100px;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}