.cursor {
    animation: blink 1s infinite;
    font-size: 20px;
    font-weight: 500;
}

.typewriter {
    font-size: 20px;
    font-weight: 500;
    color: var(--text-tertiary-color);
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.error {
    text-decoration: underline wavy var(--error-text-primary-color);
    font-size: inherit;
    font-weight: inherit;
}
